/* ======================================
Responsive Image gallery Style rules
======================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 40px 5%;
}

.heading-text {
  margin-bottom: 4rem;
  font-size: 4rem;
  text-align: center;
}

.heading-text span {
  font-weight: 100;
}

ul {
  list-style: none;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.image-gallery > li {
  flex-basis: 450px; /*width: 350px;*/
  position: relative;
  cursor: pointer;
}

.image-gallery::after {
  content: "";
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  box-shadow: 5px 10px rgb(90, 89, 89);
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}

.onebutton{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.button-1{
  width:140px;
  height:50px;
  border:2px solid rgb(90, 89, 89);
  border-radius: 8px;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
}
.button-1 a{
  font-family:arial;
  font-size:16px;
  color:#39424b;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-1{
  width:140px;
  height:50px;
  top:-2px;
  right:-140px;
  background:#39424b;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button-1:hover .eff-1{
  right:0;
}
.button-1:hover a{
  color:#fff;
}

.button-2{
  width:140px;
  height:50px;
  border:2px solid rgb(90, 89, 89);
  float:left;
  text-align:center;
  border-radius: 8px;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
}
.button-2 a{
  font-family:arial;
  font-size:16px;
  color:#39424b;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  border-radius: 8px;
  z-index:2;
  position:relative;
}
.eff-2{
  width:140px;
  height:50px;
  top:-50px;
  background:#39424b;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button-2:hover .eff-2{
  top:0;
}
.button-2:hover a{
  color:#fff;
}

.button-3{
  width:140px;
  height:50px;
  border:2px solid rgb(90, 89, 89);
  float:left;
  border-radius: 8px;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
}
.button-3 a{
  font-family:arial;
  font-size:16px;
  color:#39424b;
  text-decoration:none;
  line-height:50px;
  border-radius: 8px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-3{
  width:140px;
  height:50px;
  bottom:-50px;
  background:#39424b;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button-3:hover .eff-3{
  bottom:0;
}
.button-3:hover a{
  color:#fff;
}
.button-4{
  width:140px;
  height:50px;
  border:2px solid rgb(90, 89, 89);
  float:left;
  text-align:center;
  border-radius: 8px;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
}
.button-4 a{
  font-family:arial;
  font-size:16px;
  color:#39424b;
  text-decoration:none;
  line-height:50px;
  border-radius: 8px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-4{
  width:140px;
  height:50px;
  left:-140px;
  background:#39424b;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button-4:hover .eff-4{
  left:0;
}
.button-4:hover a{
  color:#fff;
}

.button-5{
  width:140px;
  height:50px;
  border:2px solid rgb(90, 89, 89);
  float:left;
  border-radius: 8px;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
}
.button-5 a{
  font-family:arial;
  font-size:16px;
  color:#39424b;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-5{
  width:140px;
  height:50px;
  left:-140px;
  top:-50px;
  background:#39424b;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button-5:hover .eff-5{
  left:0;top:0;
}
.button-5:hover a{
  color:#fff;
}
.button-6{
  width:140px;
  height:50px;
  border:2px solid rgb(90, 89, 89);
  float:left;
  text-align:center;
  border-radius: 8px;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
}
.button-6 a{
  font-family:arial;
  font-size:16px;
  color:#39424b;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-6{
  width:140px;
  height:50px;
  right:-140px;
  bottom:-50px;
  background:#39424b;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button-6:hover .eff-6{
  right:0;bottom:0;
}
.button-6:hover a{
  color:#fff;
}

.button-7{
  width:140px;
  height:50px;
  border:2px solid rgb(90, 89, 89);
  float:left;
  text-align:center;
  border-radius: 8px;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
}
.button-7 a{
  font-family:arial;
  font-size:16px;
  color:#39424b;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-7{
  width:140px;
  height:50px;
  border:0px solid #39424b;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  box-sizing:border-box;
}
.button-7:hover .eff-7{
  border:70px solid #39424b;
}
.button-7:hover a{
  color:#fff;
}

.button-8{
  width:140px;
  height:50px;
  border:2px solid rgb(90, 89, 89);
  float:left;
  text-align:center;
  border-radius: 8px;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
}
.button-8 a{
  font-family:arial;
  font-size:16px;
  color:#fff;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-8{
  width:140px;
  height:50px;
  border:70px solid #39424b;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  box-sizing:border-box;
}
.button-8:hover .eff-8{
  border:0px solid #39424b;
}
.button-8:hover a{
  color:#39424b;
}